/* Стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  /* Стили для заголовков */
  h1 {
    color: #333;
  }
  
  /* Стили для параграфов */
  p {
    color: #666;
  }
  